body {
  font-family: VT323,sans-serif;

}

.container {
  max-width: 512px;
  width: 100%;
}

.mirror-quote {
  text-align: center;
  font-size: 20px;
}

div.video-container {
  margin: 0 14px 0 14px;
  width: 90%;
  max-width: 512px;
}

a {
  color:black;
  text-decoration:none;
}
a:hover {
  color:white;
  background:black;
}

.blinking-cursor {
  font-weight: 100;
  /*font-size: 30px;
  color: #2E3D48;*/
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
