body {
  font-family: VT323,sans-serif;
  font-size:20px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.1;
}

.fa {font-size:16px;}

h1 {
  font-size:20px;
  font-weight: normal;
}

@media screen and (max-width: 640px) /* Mobile */ {
  body {
    font-size:16px;
  }
  .fa {font-size:12px;}
  h1 {font-size:16px;}
}

.container {
  max-width: 640px;
  width: 100%;
}


p {
  margin-left: 15px;
  text-indent: -15px;
}

.mirror-quote {
  text-align: center;
  font-size: 25px;
}

div.video-container {
  width: 100%;
  max-width: 640px;
}

div.bandcamp-container {
  padding-top:24px;
}

div.image-mrrr-container {
  width: 100%;
  height: 250px;
  max-width: 640px;

  background: url("../img/thumbnail-mrrr.jpg") top center no-repeat;
  background-size: cover;

  filter: url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    transition: all 1000ms ease;
  filter: gray;

}

div.image-mrrr-container:hover {
  filter: none;
    -webkit-filter: grayscale(0);
    -moz-filter:    grayscale(0);
    -ms-filter:     grayscale(0);
    -o-filter:      grayscale(0);
}

a {
  color:black;
  text-decoration:none;
  padding:0 4px 0 4px;
  text-indent:initial;
}

a:hover {
  color:white;
  background:black;
}

i {text-align:initial;}

input.email#mce-EMAIL {
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:1px solid;
}

input.email#mce-EMAIL:focus {
  outline:none;
}

.button#mc-embedded-subscribe {
  background-color: white;
  border: none;
  padding:0 4px 0 4px;
  text-indent:initial;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button#mc-embedded-subscribe:hover {
  background-color: black;
  color: white;
}

.button#mc-embedded-subscribe:focus {
  outline:none;
}

.blinking-cursor {
  font-weight: 100;
  /*font-size: 30px;
  color: #2E3D48;*/
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
